/* variables must be available first for Tailwind + any component CSS */
@import "./variables.css";

@import "tailwindcss";;

/* place any global rules after Tailwind layers */


.cabin-heading {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.cabin-body {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@layer base {
  body { font-family: 'Cabin', sans-serif; }
  p,ul,li,h1,h2,h3,h4,h5,h6 { font-family: 'Cabin', sans-serif; }
  .prose h1 {
    @apply text-5xl md:text-6xl font-bold text-white mb-6;
  }

  .prose h2 {
    @apply text-3xl md:text-4xl font-semibold text-white mt-8 mb-4;
  }

  .prose p {
    @apply text-lg text-white leading-relaxed mb-4;
  }

  .prose ul li {
    @apply mb-2 list-disc list-inside;
  }
}

html { font-size: var(--font-base-size); background-color: rgba(9, 28, 69, 1);}
body { font-family: var(--font-body-family); }

/* globals.css */

